@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    scroll-behavior: smooth;
  }
}

@layer components{

  
  .card{
    @apply m-4 border-contrast-300 border-l-4
  }
  .btn{
    @apply active:shadow-inner font-textTema font-light hover:bg-transparent btn-outline border-none hover:text-principal-500
  }
  .copyEmail:hover .areacopy{

    transition-property: background-color color;
    transition-duration: 0.5s;
    @apply bg-contrast-200 text-white
    
  }
  .tooltip-success{
    opacity: 90%;
  }

}